@model Diporto.ViewModels.Admin.CommonViewModel

@{
    ViewData["Title"] = "Admin Panel - Error";
    Layout = "_AdminLayout";
}

<h1>Error</h1>
<h6>An error occurred</h6>
<a href="/">Return to Main portal</a>