@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" class="h-100">Loading...</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
